.card {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(48, 47, 47, 0.349);
    color: rgb(207, 207, 207);
    
}

.cardImage {
    position: relative;
    height: 30%;
    width: 100%;
    object-fit: contain;
    
}

.iconpartage {
    top: 10%;
    position: absolute;
    left: 9%;
}

.cardDescription {
    
    height: 60%;
    width: 100%;
    padding-inline: 20px;
    justify-content: space-between;
}

.iconlike {
    position: absolute;
    top: 10%;
    right: 9%;
}

.description {
    position: relative;
    font-size: 13px;
    text-align: center;
    /* j'ai ajouter un text align center pour centrer le text */
}

.name {
    position: relative;
    text-align: center;
    font-weight: 800;

}

.specialities {
    position: relative;
    text-align: center;
    font-size: 13px;

}

.locationname {
    position: relative;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.locationcard {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    

}

.cardRating {
    position: relative;
    height: 10%;
    width: 100%;
    background-color: rgb(100, 100, 100);
    font-size: 15px;

}

.starsIconStyle {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 15px;
    margin-top: 10px;

}

.stylecounter {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-top: 10px;
}

.heartIconStyle {
    position: relative;


}

.shareIconStyle {
    position: relative;

    color: rgb(54, 54, 54);
}
.btnconnexion{
    background-color: #8e7949;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 28px;
    size: bold;
    text-align: center;   
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;
  }
