
.contactform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #8e7949; */
  background-color: #9f1616;
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.message {

  background-color: #8e7949;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.inputform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}


.textarea{
  width: 100%;
}



.contactformtitle {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}





.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #8e7949;
  color: rgb(255, 255, 255);
  padding: 10px 28px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}