.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem 0;
 
    font-size: medium;
    color: white;
    border-bottom: 1px solid #8e7949;
    font-size: 23px;
   
  }
  .btnLogout{
    background-color: #8e7949;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 28px;
    size: bold;
    text-align: center;   
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  
  .profil{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 3rem;
  }
  .headercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }


  .navLinks{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10%;
   
    
  }

  .IconBars{
    display: none;
  }


  .navLinksForMobile{
background-color: #ffde59;
position: absolute;
top: 80px;
left:0px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
height: 50%;
width: 100%;
color: black;
  }


/* Styles for screens between 900px and 1200px */
@media (max-width: 1200px) {

}

/* Styles for screens between 600px and 900px */
@media (max-width: 900px) {

}

/* Styles for screens smaller than 600px (Mobile) */
@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem 0;
    font-size: medium;
    color: white;
    border-bottom: 1px solid #8e7949;
    font-size: 23px;
    padding-inline: 28px;
  }

  .IconQuestion{
    display: block;
  }
  .navLinks{
display: none;
  }

  .IconBars{
    display: block;
    z-index: 10px;
  }

}
