/* .FaqElement {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #74be6d;
    border-radius: 5px;
    background-color: #74be6d;
} */

.title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.text {
    margin: 10px 0 0;
    font-size: 16px;
}


.addIconPlus{
    margin-left: 10px;
    font-size: 20px;
    color: #fbfafa;
    background-color: rgb(17, 102, 177);
    border-radius: 50%;

}