/* Section footer */



.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  align-items: center;
  padding: 2rem;
  background-color:#353a3f;
  font-size: 25px;
  color: white;
  border-bottom: 1px solid #8e7949;
  font-size: clamp(0.3rem, 2vw, 1rem);
  
}
 
  .socialnetwork{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    gap: 10px;
  }

  .socialnetwork{
    color: #d4dde1;
  }



  /* mobile */
@media (max-width: 600px) {
  .footer {
   
    justify-content: space-evenly;
    gap: 1rem;
    
  }


}