:root {
  --bordercolor: 1px solid #ffffff;
  --maintitle: 18px;
  --secondaryTitle:14px
}



body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


/* variable que l'ont peut réutiliser pour toute les pages   */

