/* Header Section */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 1rem 0;
    background-color:#353a3f;
    font-size: medium;
    color: white;
    border-bottom: 1px solid #8e7949;
  }
  .btnconnexion{
    background-color: #8e7949;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 28px;
    size: bold;
    text-align: center;
    text-decoration: none;  
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;    
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .IconQuestion {
    height: 33px;
    width: 33px;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.782);
    background-color: #8e7949;;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profil{
    display: flex;
    justify-content: center;
    align-items: center;
    size: 3rem;
  }
  .headercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 0;
  }