
  

  












 /* */ 
 .mainAnnuaire {
    min-height: 100vh;
    width: 100vw;
    background-color: #353a3f;
    display: flex;
    flex-direction: column;
    align-items: center;
 
  }
  
  .headerAnnuaire {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #353a3f;
    color: white;
    border-bottom: 2px solid #ffffff;
  }
  
  .logoheader {

  margin-left: 100px;
  }
  
  .customIcon {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-inline: 50px;
  }
  
  .customTextDashboard {
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  


  .formContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }


  .colonne {
    width: 20%;
    
    border-right: 1px solid #ffffff33;
  }
  
  .contentArea {
  
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }
  
  .titleAnnuaire {
    color: white;
    font-size: 2.5rem;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
  }
  
  .boxInitial {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
 
  }
  
  .boxSearch {
color: white;
  }
  
  .filterPhrase {
    color: #ffffff;
    margin-top:20px ;
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inputSearch {
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f5f5f5;
    color: #333;
    outline: none;
    padding: 10px;
    width: 80%;
    margin-right: 10px;
  }
  
  .fontawesome {
    font-size: 1.5rem;
    color: #8e7949;
    cursor: pointer;
  }
  
  .cardContainer {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-bottom: 60px;
  }
  
  .buttonAnnuaire {
    width: 200px;
    background-color: #8e7949;
    border: none;
    color: rgb(255, 255, 255);
    padding: 12px 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
  }
  
  .buttonAnnuaire:hover {
    background-color: #7a6839;
  }
  
  /* Responsive styles */
  @media (max-width: 1024px) {
    .contentArea {
      margin-left: 0;
      width: 100%;
    }
  
    .colonne {
      display: none;
    }
  
    .boxInitial {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      grid-template-columns: 1fr;
    }
  
    .titleAnnuaire {
      font-size: 2rem;
    }
  }
  
  


